# OS files
.DS_Store
Thumbs.db

# IDE/editor config
.vscode/
.idea/

# Logs and caches
*.log
*.cache

# WordPress specific temporary stuff (ako testiraš lokalno)
wp-content/cache/
wp-content/uploads/
wp-content/debug.log

# Composer / Node (ako ih dodaš kasnije)
vendor/
node_modules/
